@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

body {
  font-family: "Belanosima", sans-serif;
}
#RulesButton {
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 45%;
  background-color: rgb(211, 178, 243);
  color: aliceblue;
  border: solid 2px rgb(240, 209, 231);
  height: 75px;
  width: 150px;
}

#rulesList {
  color: aliceblue;

  font-size: 15px;
  list-style: square;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: dotted;
  background-color: rgb(211, 178, 243);
  line-height: 40px;
  font-family: "Belanosima", sans-serif;
}
